<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.business.organization.mapper.OrganizationBasicFaceMapper">
  <resultMap id="BaseResultMap" type="com.java.business.organization.entity.OrganizationBasicFace">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ORGANIZATION_CODE" jdbcType="VARCHAR" property="organizationCode" />
    <result column="ORGANIZATION_NAME" jdbcType="VARCHAR" property="organizationName" />
    <result column="PAREN_CODE" jdbcType="VARCHAR" property="parenCode" />
    <result column="ORGANIZATION_STATUS" jdbcType="VARCHAR" property="organizationStatus" />
    <result column="ORGANIZATION_TYPE" jdbcType="VARCHAR" property="organizationType" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="DELETE_FLAG" jdbcType="VARCHAR" property="deleteFlag" />
  </resultMap>
</mapper>