<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.business.role.mapper.RoleBasicFaceMapper" >
  <resultMap id="BaseResultMap" type="com.java.business.role.entity.RoleBasicFace" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_memo" property="roleMemo" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="VARCHAR" />
  </resultMap>
    <select id="selectUserRole" resultMap="BaseResultMap">
        SELECT
            role_basic_face.id,
            role_basic_face.role_code,
            role_basic_face.role_name,
            role_basic_face.role_memo,
            role_basic_face.update_time,
            role_basic_face.update_user,
            role_basic_face.create_time,
            role_basic_face.create_user,
            role_basic_face.delete_flag
        FROM
            role_basic_face
            INNER JOIN user_role_relation ON role_basic_face.role_code = user_role_relation.role_code
        where user_role_relation.user_code=#{userCode}
    </select>
</mapper>
