<!DOCTYPE html>
<html lang="zh">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="Author" content="alger"/>
    <meta name="Copyright" content="网站版权"/>
    <meta name="keywords" content="网站关键字"/>
    <meta name="description" content="网站描述"/>

    <style type="text/css">
        .welcome{
            text-align: center;
            width: 100%;
            height: 200px;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            font-size: 128px;
            color: transparent;
            text-shadow:0 0 6px #ff460c, -1px -1px #FFF, 1px -1px #444;
            opacity:0.4;
        }
    </style>
    <link rel="stylesheet" href="/static/vendor/admin/css/reset.css?v=2.0">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css?v=3.3.7">
</head>
<body>

<div class="welcome">
        <span>Welcome!</span>
</div>
</body>
<script type="text/javascript" src="/static/vendor/jquery/jquery.js?v=2.2.4"></script>
<script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.js?v=3.3.7"></script>
<script type="text/javascript" src="/static/vendor/admin/js/common.js?v=1.0.0"></script>
</html>
