<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.business.schedule.mapper.ScheduledTaskFormMapper">
  <resultMap id="BaseResultMap" type="com.java.business.schedule.entity.ScheduledTaskForm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
    <result column="input_name" jdbcType="VARCHAR" property="inputName" />
    <result column="input_label" jdbcType="VARCHAR" property="inputLabel" />
    <result column="input_memo" jdbcType="VARCHAR" property="inputMemo" />
    <result column="input_not_null" jdbcType="VARCHAR" property="inputNotNull" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="DELETE_FLAG" jdbcType="VARCHAR" property="deleteFlag" />
  </resultMap>
</mapper>