<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.business.menu.mapper.MenuBasicFaceMapper">
  <resultMap id="BaseResultMap" type="com.java.business.menu.entity.MenuBasicFace">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="MENU_CODE" jdbcType="VARCHAR" property="menuCode" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="MENU_ICON" jdbcType="VARCHAR" property="menuIcon" />
    <result column="MENU_ACTION" jdbcType="VARCHAR" property="menuAction" />
    <result column="PARENT_MENU_CODE" jdbcType="VARCHAR" property="parentMenuCode" />
    <result column="MENU_TYPE" jdbcType="VARCHAR" property="menuType" />
    <result column="DISPLAY_INDEX" jdbcType="INTEGER" property="displayIndex" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="DELETE_FLAG" jdbcType="VARCHAR" property="deleteFlag" />
  </resultMap>

  <select id="selectUserMenu" resultMap="BaseResultMap">
        SELECT
            menu_basic_face.id,
            menu_basic_face.menu_name,
            menu_basic_face.menu_icon,
            menu_basic_face.menu_action,
            menu_basic_face.parent_menu_code,
            menu_basic_face.menu_type,
            menu_basic_face.display_index,
            menu_basic_face.update_time,
            menu_basic_face.update_user,
            menu_basic_face.create_time,
            menu_basic_face.create_user,
            menu_basic_face.delete_flag,
            menu_basic_face.menu_code
        FROM
            menu_basic_face
        INNER JOIN role_menu_relation ON role_menu_relation.menu_code = menu_basic_face.menu_code
        <where>
          <if test="list != null and list.size() &gt; 0">
            role_menu_relation.role_code IN
            <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
              #{item.roleCode}
            </foreach>
          </if>
        </where>
        group by menu_basic_face.id
  </select>
</mapper>
