<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />


        <title>组织管理</title>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/vendor/admin/css/reset.css?v=2.0">
        <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css?v=3.3.7">
        <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.css?v=4.7.0">
        <link rel="stylesheet" href="/static/vendor/jquery-toast-plugin/jquery.toast.min.css">
        <link rel="stylesheet" href="/static/vendor/bootstrap-table-tree/bootstrap-treetable.css">

        <style>

            #main_table th {
                text-align: center !important;
            }

            .fa-icon{
                font-weight: bolder;
            }

        </style>
    </head>

    <body class="gray-bg">

        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="search-form-div clearfix">
                                <form role="form" id="main_table_search_form">
                                    <div class="col-xs-2">
                                        <input type="text" autocomplete="off" id="param_organization_name" name="organizationName"
                                               placeholder="组织名称" class="form-control"/>
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" autocomplete="off" id="param_paren_code" name="parenCode"
                                               placeholder="上级编号" class="form-control"/>
                                    </div>
                                    <div class="col-xs-2">
                                        <select class="form-control" id="param_organization_type" name="organizationType" ></select>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="btn btn-info" onclick="refreshTable()">
                                            <i class="fa fa-search fa-icon"></i>搜索
                                        </a>
                                    </div>

                                    <div class="col-md-1">
                                        <a class="btn btn-warning" onclick="$.formRest('main_table_search_form')">
                                            <i class="fa fa-undo fa-icon"></i>重置
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="main-table-div clearfix">
                                <div id="toolbar">
                                    <button id="add_button" class="btn btn-info" onclick="addOrganization()">
                                        <i class="fa fa-plus fa-icon"></i>添加
                                    </button>
                                    <button id="exchange_button" class="btn btn-info" onclick="exchange()">
                                        <i class="fa fa-exchange fa-icon"></i>展开/折叠
                                    </button>
                                </div>
                                <table id="main_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--数据模态框 字段较少-->
        <div class="modal fade" id="main_mode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             data-backdrop="static" data-keyboard="false" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            组织信息
                        </h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal" role="form" id="main_form">
                            <input type="hidden" id="id" name="id">

                            <input type="hidden" id="organization_code" name="organizationCode">


                            <div class="form-group">
                                <label for="paren_code" class="col-sm-4 control-label">上级菜单:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="paren_code" name="parenCode">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="organization_name" class="col-sm-4 control-label">组织名称:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="organization_name" name="organizationName">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="organization_type" class="col-sm-4 control-label">组织类型:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="organization_type" name="organizationType" ></select>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button id="cancel_button" type="button" class="btn btn-default add-show edit-show"
                                data-dismiss="modal">
                            取消
                        </button>
                        <button id="define_button" type="button" class="btn btn-default detail-show" data-dismiss="modal">
                            确定
                        </button>
                        <button id="save_button" type="button" class="btn btn-primary  add-show edit-show" onclick="saveOrganization()">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!--组织授权-->
        <div class="modal fade" id="organization_relation_mode" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
             aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="menu_mode_title">
                            授权
                        </h4>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="organization_relation_code" name="organizationCode"/>
                        <div id="menu_tree"></div>
                    </div>

                    <div class="modal-footer">
                        <button id="menu_cancel_button" type="button" class="btn btn-default add-show edit-show"
                                data-dismiss="modal">
                            取消
                        </button>
                        <!--<button id="menu_define_button" type="button" class="btn btn-default detail-show" data-dismiss="modal">-->
                        <!--确定-->
                        <!--</button>-->
                        <button id="menu_save_button" type="button" class="btn btn-primary  add-show edit-show" onclick="saveAuthorization()">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </body>
    <!-- 全局js -->
    <script src="/static/vendor/jquery/jquery.js?v=2.2.4"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.js?v=3.3.7"></script>
    <script src="/static/vendor/bootstrap-treeview/js/bootstrap-treeview.min.js"></script>
    <script src="/static/vendor/bootstrap-table-tree/bootstrap-treetable.js"></script>
    <script src="/static/vendor/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="/static/vendor/admin/js/common.js?v=1.0.0"></script>

    <script src="/static/js/menu/menuTree.js"></script>
    <script src="/static/js/organization/manager.js"></script>
</html>
