<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.business.wordbook.mapper.WordbookAttributeMapper">
  <resultMap id="BaseResultMap" type="com.java.business.wordbook.entity.WordbookAttribute">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wordbook_code" jdbcType="VARCHAR" property="wordbookCode" />
    <result column="attribute_value" jdbcType="VARCHAR" property="attributeValue" />
    <result column="attribute_name" jdbcType="VARCHAR" property="attributeName" />
    <result column="attribute_status" jdbcType="VARCHAR" property="attributeStatus" />
    <result column="attribute_memo" jdbcType="VARCHAR" property="attributeMemo" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
  </resultMap>
</mapper>