<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />


    <title>个人中心</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/vendor/admin/css/reset.css?v=2.0">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css?v=3.3.7">
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.css?v=4.7.0">
    <link rel="stylesheet" href="/static/vendor/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/vendor/jquery-toast-plugin/jquery.toast.min.css">


</head>

<body class="gray-bg">

<div class="container-fluid">


    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-6">
                <form class="form-horizontal" role="form" id="main_form">

                    <div class="form-group">
                        <label for="user_name" class="col-sm-2 control-label">原密码:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="old" name="oldPassword">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="user_label" class="col-sm-2 control-label">新密码:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_label" name="newPassword">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="user_name" class="col-sm-2 control-label">确认密码:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_name" name="confirmPassword">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <label for="user_name" class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <button id="save_button" type="button" class="btn btn-primary  add-show edit-show" onclick="updateLoginPassword()">
                                保存
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>


</body>
<!-- 全局js -->
<script src="/static/vendor/jquery/jquery.js?v=2.2.4"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.js?v=3.3.7"></script>
<script src="/static/vendor/bootstrap-treeview/js/bootstrap-treeview.min.js"></script>
<script src="/static/vendor/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/static/vendor/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/vendor/jquery-toast-plugin/jquery.toast.min.js"></script>
<script src="/static/vendor/admin/js/common.js?v=1.0.0"></script>
<script src="/static/js/user/password.js"></script>
</html>
