<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>


    <title>菜单管理</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/vendor/admin/css/reset.css?v=2.0">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css?v=3.3.7">
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.css?v=4.7.0">
    <link rel="stylesheet" href="/static/vendor/jquery-toast-plugin/jquery.toast.min.css">

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        contextPath = /*[[@{/}]]*/ '';
        basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;
        path = /*[[${#httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;
        /*]]>*/
    </script>

</head>

<body class="gray-bg">

<input type="hidden" th:value="${#httpServletRequest}">

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12">

            <div class="panel-group" id="machine_info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#machine_info" href="#machine_collapse">
                                机器信息
                            </a>
                        </h4>
                    </div>
                    <div id="machine_collapse" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-sm-4">
                                <form class="form-horizontal" role="form" id="machine_info_form">

                                    <div class="form-group">
                                        <label for="systemName" class="col-sm-4 control-label">系统名称:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-show" id="systemName"
                                                   name="systemName">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="systemVersion" class="col-sm-4 control-label">系统版本:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-show" id="systemVersion"
                                                   name="systemVersion">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="systemArch" class="col-sm-4 control-label">系统架构:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-show" id="systemArch"
                                                   name="systemArch">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="availableProcessors" class="col-sm-4 control-label">可用的内核数:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-show" id="availableProcessors"
                                                   name="availableProcessors">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="totalPhysicalMemory" class="col-sm-4 control-label">总物理内存:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-show" id="totalPhysicalMemory"
                                                   name="totalPhysicalMemory">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="freePhysicalMemorySize"
                                               class="col-sm-4 control-label">剩余物理内存:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-show"
                                                   id="freePhysicalMemorySize" name="freePhysicalMemorySize">
                                        </div>
                                    </div>

                                    <!--<div class="form-group">-->
                                    <!--<label for="processCpuLoad" class="col-sm-4 control-label">进程cpu负载:</label>-->
                                    <!--<div class="col-sm-6">-->
                                    <!--<input type="text" class="form-control input-show" id="processCpuLoad"-->
                                    <!--name="processCpuLoad">-->
                                    <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                    <!--<label for="systemCpuLoad" class="col-sm-4 control-label">系统cpu负载:</label>-->
                                    <!--<div class="col-sm-6">-->
                                    <!--<input type="text" class="form-control input-show" id="systemCpuLoad"-->
                                    <!--name="systemCpuLoad">-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </form>
                            </div>

                            <div class="col-sm-8 center-block">
                                <div id="system_cpu_load_chart" class="col-sm-6" style="height:360px;"></div>
                                <div id="system_memory_load_chart" class="col-sm-6" style="height:360px;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="runtime_Info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#runtime_Info" href="#runtime_info_collapse">
                                运行信息
                            </a>
                        </h4>
                    </div>
                    <div id="runtime_info_collapse" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-sm-4">
                                <form class="form-horizontal" role="form" id="runtime_info_form">

                                    <div class="form-group">
                                        <label for="name" class="col-sm-4 control-label">进程ID:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-show" id="name" name="name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="specName" class="col-sm-4 control-label">jvm规范名称:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-show" id="specName"
                                                   name="specName">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="specVendor" class="col-sm-4 control-label">jvm规范运营商:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-show" id="specVendor"
                                                   name="specVendor">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="specVersion" class="col-sm-4 control-label">jvm规范版本:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-show" id="specVersion"
                                                   name="specVersion">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="startTime" class="col-sm-4 control-label">启动时间:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-show" id="startTime"
                                                   name="startTime">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="uptime" class="col-sm-4 control-label">运行时间:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-show" id="uptime"
                                                   name="uptime">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="vmName" class="col-sm-4 control-label">jvm名称:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-show" id="vmName"
                                                   name="vmName">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="vmVendor" class="col-sm-4 control-label">jvm运营商:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-show" id="vmVendor"
                                                   name="vmVendor">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="vmVersion" class="col-sm-4 control-label">jvm实现版本:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-show" id="vmVersion"
                                                   name="vmVersion">
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-sm-8">
                                <div class="panel-body">
                                    <div id="thread_chart" style="height: 400px"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="memory_chart">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#memory_chart" href="#memory_chart_collapse">
                                JVM内存状态
                            </a>
                        </h4>
                    </div>
                    <div id="memory_chart_collapse" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <div id="heap_memory_chart" style="height:360px;"></div>
                                </div>
                                <div class="col-md-6">
                                    <div id="non_heap_memory_chart" style="height:360px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 全局js -->
<script src="/static/vendor/jquery/jquery.js?v=2.2.4"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.js?v=3.3.7"></script>
<script src="/static/vendor/jquery-toast-plugin/jquery.toast.min.js"></script>

<script src="/static/vendor/echarts/echarts.min.js"></script>
<script src="/static/vendor/admin/js/common.js?v=1.0.0"></script>

<script src="/static/js/machine/socket.js"></script>
<script src="/static/js/machine/manager.js"></script>
</html>
